/* نتایج */
body{
    background: white;
}
.results-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;

    border-radius: 10px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 3px solid rgb(53, 39, 99);
    padding: 10px;
    text-align: center;
}
th{
    background-color:  rgb(53, 39, 99);
    color: white;
}